*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/library/build/
/library/build/.transforms/
/library/build/intermediates/aapt_friendly_merged_manifests/
/library/build/intermediates/annotation_processor_list/
/library/build/intermediates/compile_library_classes/
/library/build/intermediates/compile_only_not_namespaced_r_class_jar/
/library/build/intermediates/incremental/
/library/build/intermediates/library_java_res/
/library/build/intermediates/library_manifest/
/library/build/intermediates/local_only_symbol_list/
/library/build/intermediates/manifest_merge_blame_file/
/library/build/intermediates/merged_manifests/
/library/build/intermediates/packaged_res/
/library/build/intermediates/res/
/library/build/intermediates/runtime_library_classes/
/library/build/intermediates/symbols/
/library/build/outputs/
/sweet/build/
/sweet/build/generated/not_namespaced_r_class_sources/
/sweet/build/intermediates/annotation_processor_list/
/sweet/build/intermediates/apk_list/
/sweet/build/intermediates/blame/
/sweet/build/intermediates/bundle_manifest/
/sweet/build/intermediates/compatible_screen_manifest/
/sweet/build/intermediates/dex/
/sweet/build/intermediates/external_libs_dex/
/sweet/build/intermediates/incremental/
/sweet/build/intermediates/instant_app_manifest/
/sweet/build/intermediates/manifest_merge_blame_file/
/sweet/build/intermediates/merged_java_res/
/sweet/build/intermediates/merged_manifests/
/sweet/build/intermediates/metadata_feature_manifest/
/sweet/build/intermediates/processed_res/
/sweet/build/intermediates/res/
/sweet/build/intermediates/signing_config/
/sweet/build/intermediates/symbols/
/sweet/build/intermediates/transforms/
/sweet/build/outputs/